path/to/linguistic_intelligence_adjusted_0.8_spmTEMP_MPY_wvf_snd.mp3
linguistic_intelligence_adjusted_0.8_spmTEMP_MPY_wvf_snd.mp3
.venv311/
.venv/
*.mp3
*.MP4
*.wav
.video_analysis/videos
.video_analysis/audios
__pycache__/